Host github.com-personal
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_personal
  AddKeysToAgent yes
  UseKeychain yes

Host github.ibm.com-work
  HostName github.ibm.com
  User git
  IdentityFile ~/.ssh/id_ed25519_ibm
  AddKeysToAgent yes
  UseKeychain yes
